include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include top level files
include launch_app.py
include Pipfile
include Pipfile.lock

# Include source
recursive-include app *.py

# Include config, docs, client and server
recursive-include config SAMPLE-*
recursive-include docs *
recursive-include onestop-client *
recursive-include server *

# Include tests
recursive-include tests *

# Include the data files
recursive-include data *